[submodule "mctesters/gui"]
	path = mctesters/gui
	url = git@github.com:NHDaly/SDL-GUI-Library.git

[submodule "mctesters/utility"]
	path = mctesters/utility
	url = /Users/Daly/Documents/School/EECS/Labs/GitHub/NathanUtility

[submodule "mctester/gui"]
	path = mctester/gui
	url = git@github.com:NHDaly/SDL-GUI-Library.git
[submodule "mctester/utility"]
	path = mctester/utility
	url = /Users/Daly/repos/NathanUtility.git
