[submodule "mctesters/gui"]
	path = mctesters/gui
	url = https://github.com/NHDaly/SDL-GUI-Library.git

[submodule "mctesters/utility"]
	path = mctesters/utility
	url = https://NHDaly@bitbucket.org/NHDaly/nathanutility.git

[submodule "mctester/gui"]
	path = mctester/gui
	url = https://github.com/NHDaly/SDL-GUI-Library.git
[submodule "mctester/utility"]
	path = mctester/utility
	url = https://NHDaly@bitbucket.org/NHDaly/nathanutility.git
